scripts/downloaded_validation_script.sh
scripts/validation_script-config.yaml
validation_results/**
fhirpkg.lock.json
*.sh
fsh-index.*
.DS_Store
Thumbs.db
.simplifier/
input-cache/
output/
temp/
fsh-generated/
fsh-generated/includes
fsh-generated/data
fsh-generated/fsh-index.txt
template/
